*{
    
    box-sizing: border-box;
}

body, html{
    
    background-color: black;
    margin: 0;
    padding: 0;
}

form{
    
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10px;
    font-family: cursive;
    font-size: 25px;
    font-weight: bold;
}

.container{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.details{

    color: white;
    flex: 3;
}

.address .form-group{
    
    display: flex;
    margin: 1em;
}

.address .form-group label{
    
    flex: 1;
    text-align: right;
    margin-right: 1em;
}

.address .form-group input{
    
    flex: 3;
    border-radius: 10px;
    font-family: cursive;
    font-size: 1em;
    background-color: greenyellow;
}

.shipping{
    
    text-align: center;
}

.shipping select{
    
    font-family: cursive;
    font-size: 1em;
    font-weight: normal;
    border-radius: 10px;
    margin-top: .5em;
}

.payment{
    
    margin-top: 1em;
    text-align: center;
}

.payment div:nth-child(2){
    
    display: flex;
}

.payment div:nth-child(2) label{
    
    flex: 1;
    font-weight: normal;
    margin-top: .5em;
}

.check{
    
    display: flex;
    text-align: center;
}

.check label{
    
    flex: 1;
    font-weight: normal;
    margin-top: 1em;
    
}

.check label:nth-child(1){
    
    order: 2;
}

.check label:nth-child(2){
    
    order: 1;
}


.comments{
    
    color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.comments textarea{
    
    background-color: greenyellow;
    flex: 1;
    border-radius: 10px;
}

.submit{
    
    text-align: center;
    margin-top: auto;
}

.submit input{
    
    border-radius: 10px;
    background-color: greenyellow;
    font-family: cursive;
    font-size: 1.7em;
    font-weight: bold;
    border: none;
}